.cabeçalho {background-color:rgb(12, 240, 248); color: #000; display:flex; justify-content: space-around;}
.imagem-logo{width: 20%;}
.cabeçalho-lista-item{display: inline-block; margin: 0 16px; font-size: 20px;}